@page "/"
@using Ecommerce.Components

<main class="page landing-page">
    <SliderCarousel />

    <section class="clean-block clean-info dark" style="padding-top: 10px;">
        <div class="container">
            <section class="clean-block about-us">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Mas Comprados</h2>
                        <p></p>
                    </div>
                    <div class="row justify-content-center pt-2 pb-2">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-2 pb-2">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-2 pb-2">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center">
                                <img class="card-img-top w-100 d-block" src="assets/img/tech/image1.jpg" style="height: 300px;">
                                <div class="card-body info">
                                    <h4 class="card-title">Iphone 5</h4>
                                    <p class="card-text">Capacidad 16GB ...</p><button class="btn btn-primary" type="button">Ver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/image4.jpg&quot;); color: rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2>Todos los productos tecnologicos</h2>
            <p>Tenemos productos usados y nuevos al mejor precio del mercado.</p><button class="btn btn-outline-light btn-lg" type="button">Ver Catalogo</button>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Cualidades</h2>
                <p>Observa algunos de las cualidades que tenemos</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="icon-star icon"></i>
                    <h4>Vanguardia</h4>
                    <p>Tenemos los últimos productos del mercado, ya existe! pues lo tenemos.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-pencil icon"></i>
                    <h4>Exclusividad</h4>
                    <p>Tenemos exclusividad con marcas reconocidas en el país.&nbsp;</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-screen-smartphone icon"></i>
                    <h4>Gran Variedad de celulares</h4>
                    <p>Ofrecemos una gran variedad de productos celulares.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-laptop icon"></i>
                    <h4>Ultimas portátiles&nbsp;disponibles</h4>
                    <p>Tenemos Todas las portátiles que necesites.</p>
                </div>
            </div>
        </div>
    </section>
</main>
