<div class="alert alert-@(Type ?? "danger")" role="alert">
    <p>@Message</p>
</div>

@code
{
    [Parameter] public string Message { get; set; }

    [Parameter] public string Type { get; set; }

    public class Alert
    {
        public string Type { get; set; }

        public string Message { get => (this.Type == "danger") ? "Hubo un problema con su solicitud." : "Solicitud creada correctamente."; }
    }
}
