<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-3">
                <h5>Empezar<br></h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Categorias</h5>
                <ul>
                    <li><a href="#">Celulares</a></li>
                    <li><a href="#">Computadoras</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 Copyright P3_Experience</p>
    </div>
</footer>