@page "/login"

<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <EditForm Model="Admin" OnValidSubmit="HandleLogin">
                                        <DataAnnotationsValidator />
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Email / Usuario</label>
                                            <InputText class="form-control py-4" @bind-Value="Admin.Usuario" id="inputEmailAddress"  placeholder="Introduzca su email o usuario"/>
                                            <ValidationMessage For="@(() => Admin.Usuario)"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            <InputText class="form-control py-4" @bind-Value="Admin.Password" id="inputPassword" type="password" placeholder="Introduzca su contraseña"/>
                                            <ValidationMessage For="@(() => Admin.Password)"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox"/>
                                                <label class="custom-control-label" for="rememberPasswordCheck">Recordar contraseña</label>
                                            </div>
                                        </div>

                                        @if (ShowErrors)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                <p>@Error</p>
                                            </div>
                                        }
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button class="btn btn-primary" type="submit">Log In</button>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>