<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Almacen</div>
                <NavLink class="nav-link" href="categorias">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i>
                    </div>
                    Categorias
                </NavLink>
                <NavLink class="nav-link" href="productos">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    Productos
                </NavLink>
                <NavLink class="nav-link" href="sliders">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-images"></i>
                    </div>
                    Sliders
                </NavLink>


                <div class="sb-sidenav-menu-heading">Ordenes</div>
                <NavLink class="nav-link" href="ordenes">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-car"></i>
                    </div>
                    Ordenes
                </NavLink>
                <NavLink class="nav-link" href="pagos">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-money-bill-wave"></i>
                    </div>
                    Pagos
                </NavLink>
                <NavLink class="nav-link" href="pedidos">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    Pedidos
                </NavLink>
                

                <div class="sb-sidenav-menu-heading">Usuarios</div>
                <NavLink class="nav-link" href="administradores">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-users-cog"></i>
                    </div>
                    Administradores
                </NavLink>
                <NavLink class="nav-link" href="clientes">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    Clientes
                </NavLink>

            </div>
        </div>
    </nav>
</div>